.outsideDIV {
    border: dotted 2px blue;
    border-radius: 10px;
    padding: 10px;
}

.middleDIV {
    border: dashed 2px red;
    border-radius: 10px;
    padding: 10px;
}

.innerDIV {
    border: solid 2px green;
    border-radius: 10px;
    padding: 10px;
}

p {
    text-align: center;
    font-size: 20px;
}